{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block title %} Registro {% endblock %}

{% block content %}

<div class="contenedorFormulario">
  {% if 'register' in request.GET %}
  <p style="color: green;">
     ¡Usuario creado exitosamente!
 </p>
 {% endif %}


 <form style="color: white;"  action="" method="post">{% csrf_token %}
   <table style="color: white; margin: 20px auto;">
     <div> {{form.as_p}}</div>
 </table>
 <input type="submit" value="Confirmar" style="width: 150px;">




 </form>
</div>

{% endblock %}