{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}



<div class="contenedorFormulario" style="color: white;">
  <div class="externo">
    <div>
      <span style="text-transform:uppercase"><b>{{post.titulo}}</b> <br><br><br></span>
      
    </div>
  </div>
  
  <div class="externo"> 
    <img src="{{post.imagen.url}}" width="75%" height="75%"> <br><br><br>
  </div>
  
  <div style="font-family: Arial, Helvetica, sans-serif;">
{{post.contenido}}
  </div class="externo">

  
  {{post.autor}}

</div>

{% endblock %}