{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}


  <div class="contenedorAcercaDemi">
<div>
  <img src="https://us.123rf.com/450wm/sevalv/sevalv1910/sevalv191000171/132013733-mujer-atractiva-en-camiseta-amarilla-cruza-las-manos-sobre-el-pecho-con-expresi%C3%B3n-segura-de-s%C3%AD-misma.jpg?ver=6" alt="">
</div>
<div style="color: white;">
  <p>
    Mi nombre es Maria Bethzabet Picon Risso. <br>
    Tengo 20 años. Soy de Cordoba, Capital. Estudio Analista en Sistemas informaticos en la escuela. <br>
    superior de comercio Manuel Belgrano
    Esta es mi primera experiencia en el desarrollo de un proyecto web, el cual incentivo mis ganas de <br>
    dedicarme a esto y continuar en mi formacion.

  </p>

</div>




</div>
{% endblock %}